In [1]:
import pandas as pd

In [2]:
not_hot = pd.read_csv('tracks_features.csv')

In [3]:
not_hot = not_hot.sample(3000, random_state = 5)

In [4]:
not_hot.head()

,id,name,album,album_id,artists,artist_ids,track_number,disc_number,explicit,danceability,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature,year,release_date
1113804,5LkGGy7JvhnDZWEk7xuqP4,Bihotz urdin,16 Lore,1SAOLgXqL5peWuoyORMEwa,['Gari'],['4SodWGjBCU5hoGWjMiIxek'],1,1,False,0.495,...,0.0277,0.768,0.00000,0.102,0.317,145.873,239440,4.0,2009,2009-11-05
900506,4oYoZUGOMIOjxefJ0VLuHQ,Race to Space,Dog,00ZJDh0xx4S92uZjZtQYLn,['DoG'],['01i6edVkg7vyXGKlVhFwMz'],9,1,False,0.383,...,0.0318,0.390,0.36800,0.101,0.390,156.238,457000,4.0,2014,2014-04-17
683529,3T7PUoQjtSD5KO2MIwoMrk,Local Mix-Up / Murder Charge,Same Place The Fly Got Smashed,34GHEHF9oNZr54nCYvDhGu,['Guided By Voices'],['4oV5EVJ0XFWsJKoOvdRPvl'],10,1,False,0.232,...,0.0345,0.392,0.06150,0.168,0.234,75.160,399840,4.0,1990,1990
1165453,7IDr1U2i7qqai1FsZEdlwf,Stars Fell in Alabama - Live,The Art of the Piano Duo (Live),55TE4mtiBkGAqqcCvm4hSv,"['Kenny Barron', 'Mulgrew Miller']","['3LvX4UVIfEjsQVqrbBToQ3', '6Zq5ky484xYTgxE6dQ...",1,1,False,0.484,...,0.0332,0.993,0.91400,0.921,0.313,121.487,746200,4.0,2019,2019-10-18
830113,5pzJv7wxk9DcV4qRmoiTqR,The House I Live In,Sinatra Sings His Greatest Hits,57vPH8jXw3PF0zD6zeaNOD,['Frank Sinatra'],['1Mxqyy3pSjf8kZZL4QVxS0'],8,1,False,0.241,...,0.0414,0.964,0.00638,0.462,0.197,178.617,197467,3.0,1944,1944

In [5]:
not_hot.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, 1113804 to 785724
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                3000 non-null   object
 1   name              3000 non-null   object
 2   album             3000 non-null   object
 3   album_id          3000 non-null   object
 4   artists           3000 non-null   object
 5   artist_ids        3000 non-null   object
 6   track_number      3000 non-null   int64
 7   disc_number       3000 non-null   int64
 8   explicit          3000 non-null   bool
 9   danceability      3000 non-null   float64
 10  energy            3000 non-null   float64
 11  key               3000 non-null   int64
 12  loudness          3000 non-null   float64
 13  mode              3000 non-null   int64
 14  speechiness       3000 non-null   float64
 15  acousticness      3000 non-null   float64
 16  instrumentalness  3000 non-null   float64
 17  liveness          3000 non-null   float64
 18  valence           3000 non-null   float64
 19  tempo             3000 non-null   float64
 20  duration_ms       3000 non-null   int64
 21  time_signature    3000 non-null   float64
 22  year              3000 non-null   int64
 23  release_date      3000 non-null   object
dtypes: bool(1), float64(10), int64(6), object(7)
memory usage: 565.4+ KB

In [6]:
not_hot = not_hot[['id', 'name', 'artists', 'danceability', 'energy', 'acousticness', 'instrumentalness', 'tempo']]

In [7]:
not_hot.shape

(3000, 8)

In [8]:
not_hot['artists'] = not_hot['artists'].str.replace('[', '').str.replace(']', '').str.replace(',', ' and ').str.replace("'", "")

In [9]:
not_hot.head()

,id,name,artists,danceability,energy,acousticness,instrumentalness,tempo
1113804,5LkGGy7JvhnDZWEk7xuqP4,Bihotz urdin,Gari,0.495,0.469,0.768,0.00000,145.873
900506,4oYoZUGOMIOjxefJ0VLuHQ,Race to Space,DoG,0.383,0.450,0.390,0.36800,156.238
683529,3T7PUoQjtSD5KO2MIwoMrk,Local Mix-Up / Murder Charge,Guided By Voices,0.232,0.459,0.392,0.06150,75.160
1165453,7IDr1U2i7qqai1FsZEdlwf,Stars Fell in Alabama - Live,Kenny Barron and Mulgrew Miller,0.484,0.335,0.993,0.91400,121.487
830113,5pzJv7wxk9DcV4qRmoiTqR,The House I Live In,Frank Sinatra,0.241,0.131,0.964,0.00638,178.617

In [10]:
not_hot.duplicated().sum()

0

In [11]:
not_hot = not_hot.rename(columns={'name':'titles'})
not_hot.head()

,id,titles,artists,danceability,energy,acousticness,instrumentalness,tempo
1113804,5LkGGy7JvhnDZWEk7xuqP4,Bihotz urdin,Gari,0.495,0.469,0.768,0.00000,145.873
900506,4oYoZUGOMIOjxefJ0VLuHQ,Race to Space,DoG,0.383,0.450,0.390,0.36800,156.238
683529,3T7PUoQjtSD5KO2MIwoMrk,Local Mix-Up / Murder Charge,Guided By Voices,0.232,0.459,0.392,0.06150,75.160
1165453,7IDr1U2i7qqai1FsZEdlwf,Stars Fell in Alabama - Live,Kenny Barron and Mulgrew Miller,0.484,0.335,0.993,0.91400,121.487
830113,5pzJv7wxk9DcV4qRmoiTqR,The House I Live In,Frank Sinatra,0.241,0.131,0.964,0.00638,178.617

In [18]:
#hot = pd.read_csv('../lab-web-scraping-single-page/popular.csv')

In [19]:
hot.head()

       titles              artists
0     Vampire       Olivia Rodrigo
1  Last Night        Morgan Wallen
2    Fast Car           Luke Combs
3   Calm Down  Rema & Selena Gomez
4     Flowers          Miley Cyrus

In [20]:
inner_join = not_hot.merge(hot, how = 'inner', on = ['titles', 'artists'])

In [21]:
inner_join.shape

(0, 2)

In [22]:
inner_join

Empty DataFrame
Columns: [artists, titles]
Index: []

In [12]:
not_hot.to_csv('not_hot.csv', index = False)